{% extends 'layout/base.twig' %}
{% import 'macros/helpers.twig' as helpers %}

{% block title %}
- Import Success
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

<div class="hero-unit">
    <h3>Import succeded</h3>
</div>

{% endblock %}
